:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

a{
  color: inherit;
}
img{
  display: block;
  max-width: 100%;
}