/* Global */
@import url(./global/global.css);
@import url(utilitarios/tipografia.css);
@import url(utilitarios/cores.css);

@import url(./global/header.css);

/* Utilitários */
@import url(utilitarios/componentes.css);

/* Home */
@import url(./home/main.css);

.subtitulo{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.titulo{
  font-weight: 600;
  font-size: 4rem;
  line-height: 72px;
}
