:root {
  font-size: 10px;
}

body {
  color: #111;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

a {
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

button {
  border: 0;
}

input:focus,
textarea:focus {
  outline: 0;
}
