.depoimento{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  margin-bottom: 120px;
}

.depoimento > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.depoimento-conteudo{
  padding: 40px 40px 80px 80px;
  display: block;
  align-self: end;
}

.depoimento-conteudo blockquote{
  display: block;
  font-family: 'Merriweather';
  font: 900 3.6rem/1.33 'Merriweather', sans-serif;
  color: var(--cor-p5);
  padding-bottom: 20px;
  position: relative;
  max-width: 32ch;
}

.depoimento-conteudo blockquote::before{
  position: absolute;
  content: open-quote;
  color: var(--cor-p2);
  font-size: 7rem;
  left: -35px;
  top: -22px;
}

.depoimento-conteudo blockquote::after{
  position: absolute;
  content: close-quote;
  color: var(--cor-p2);
  font-size: 7rem;
  bottom: -37px;
}

.depoimento-conteudo > span{
  display: block;
  font: 600 2.4rem/1.33 'Poppins', sans-serif;
  color: var(--cor-p4);
}

@media (width <= 1100px){  
  .depoimento-conteudo blockquote {
    font-size: 3rem;
  }
  .depoimento-conteudo{
    padding: 30px 30px 40px 40px;
  }

  .depoimento-conteudo blockquote::before{
    font-size: 5.5rem;
  }

  .depoimento-conteudo blockquote::after{
    font-size: 5.5rem;
    bottom: -25px;
  }

  .depoimento-conteudo > span{
    font-size: 2rem;
  }
}

@media(width <= 800px){
  .depoimento{
    grid-template-columns: 1fr;
  }
  .depoimento-conteudo{
    padding: 40px 30px;
  }

  .depoimento-conteudo{
    text-align: center;
    margin: auto;
  }

  .depoimento > img{
    max-height: 300px;
  }
}