.depoimento{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  margin-bottom: 120px;
}

.depoimento > img{
  height: 100%;
  object-fit: cover;
}

.depoimento-texto{
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  align-self: end;
}

.depoimento-texto blockquote{
  display: block;
  font-family: 'Merriweather';
  font: 900 3.6rem/1.33 'Merriweather', sans-serif;
  color: var(--cor-p5);
  padding-bottom: 32px;
  padding-right: 120px;
  position: relative;
}

.depoimento-texto blockquote::before{
  position: absolute;
  content: open-quote;
  color: var(--cor-p2);
  font-size: 7rem;
  left: -40px;
  top: -25px;
}

.depoimento-texto blockquote::after{
  position: absolute;
  content: close-quote;
  color: var(--cor-p2);
  font-size: 7rem;
  bottom: -30px;
}

.depoimento-texto > span{
  display: block;
  font: 600 2.4rem/1.33 'Poppins', sans-serif;
  color: var(--cor-p4);
  padding-bottom: 30px;
}

@media (width <= 1200px){  
  body{
    background-color: blue;
  }
  .depoimento-texto blockquote {
    font-size: 1rem;
  }
  .depoimento{
    background-color: blue;
    grid-template-columns: 1fr;
  }
}