.tecnologia-bg{
  background-color: var(--cor-11);
  box-shadow: inset 0 80px white,  inset 0 -80px white;
}

.tecnologia{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-conteudo{
  padding: 160px 0px;
}

.tecnologia-conteudo h2{
  margin-bottom: 32px;
}

.link{
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 600;
  position: relative;
  margin-bottom: 80px;
}

.link::after{
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--cor-p1);
  transition: .2s;
}

.link:hover::after{
  width: 100%;
}

.tecnologia-itens{
  display: flex;
  gap: 40px;
}

.tecnologia-itens img{
  margin-bottom: 16px;
}

.tecnologia-itens h3{
  margin-bottom: 16px;
  width: max-content;
}

.tecnologia-itens img{
  width: 24px;
}

.tecnologia-imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}